/*
    app.scss
*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(30, 30, 30);
}

body {
    overflow-x: hidden;
}

.navbar {
    background-color: transparent;
    transition: .3s ease-in-out;
}

.navbar-no-transition {
    transition: unset;
}

.navbar-item-brand img {
    border-radius: 50%;
}

.navbar-background-color {
    background-color: rgb(50, 50, 50) !important;
}

.navbar-menu {
    @media screen and (max-width: 1089px) {
        background-color: rgb(50, 50, 50) !important;
    }
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: rgba(255, 255, 255, 0.0) !important;
    color: rgb(250, 250, 250) !important;
}

.navbar-item, .navbar-burger, .navbar-link {
    color: rgb(230, 230, 230);
}

.navbar-dropdown {
    background-color: rgb(50, 50, 50);
}

.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgba(0, 0, 0, 0.0);
}

@media screen and (max-width: 1087px) {
    .navbar-menu {
        background-color: rgb(50, 50, 50);
    }
}

a.navbar-burger:hover {
    color: rgb(200, 200, 200);
}

.navbar-start {
    @media screen and (min-width: 1088px) {
        flex-grow: 1;
        justify-content: center;
    }
}

.admin-area input, .admin-area textarea {
    background-color: rgba(50, 50, 50, 0.5);
    color: rgb(200, 200, 200);
}

.admin-area a.newsletter-preview {
    position: relative;
    top: 4px;
    color: rgb(100, 152, 223);
}

.admin-area a.newsletter-preview:hover {
    color: rgb(100, 152, 223);
    text-decoration: underline;
}

.page-header {
    position: relative;
    width: 100%;
    height: 610px;
    top: -52px;
    margin-top: 52px;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
}

.page-header-content {
    position: relative;
    top: 50%;
    transform: translate(-0%, -50%);
    text-align: center;
    padding: 20px;
}

.page-header-content h1 {
    color: rgb(230, 230, 230);
    font-size: 2.5em;
}

.page-header-content h2 {
    color: rgb(220, 220, 220);
    font-size: 1.5em;
    margin-bottom: 20px;
}

.page-header-buttons div {
    display: inline-block;
    width: 45%;
    @media screen and (min-width: 1089px) {
        width: 12%;
    }
    margin-left: 3px;
    margin-right: 3px;
}

.page-header-content a {
    width: 100%;
}

.page-header-badges {
    margin-bottom: 25px;
}

.page-header-badges img {
    margin-left: 3px;
    margin-right: 3px;
}

.page-content {
    position: relative;
    top: -20px;
    text-align: center;
    padding: 20px;
    color: rgb(200, 200, 200);
}

.page-content h2 {
    font-size: 2.5em;
    color: rgb(250, 250, 250);
    margin-bottom: 20px;
}

.page-content h3 {
    font-size: 2.0em;
    color: rgb(240, 240, 240);
    margin-bottom: 20px;
}

.page-content p {
    margin-bottom: 20px;
}

.page-content hr {
    background-color: rgb(50, 50, 50);
    height: 1px;
    margin-top: 60px;
    margin-bottom: 35px;
}

.page-features {
    position: relative;
    width: 100%;
}

.page-features-block {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}

.page-features-block-fix {
    margin-left: -3px;
}

.page-feature-item {
    position: relative;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    @media screen and (max-width: 768px) {
        font-size: 1.0em;
    }
    color: rgb(0, 255, 150);
}

.page-feature-item i {
    color: rgb(250, 215, 63);
}

.is-font-medium {
    font-size: 1.3em;
    color: rgb(150, 150, 150);
}

.is-font-medium strong {
    color: rgb(200, 200, 200);
}

.is-font-mild {
    font-size: 1.2em;
    color: rgb(150, 150, 150);
}

.is-span-margin-bottom i {
    margin-bottom: 10px;
}

a.is-default-link {
    color: rgb(65, 111, 190);
}

a.is-default-link:hover {
    color: rgb(65, 111, 190);
    text-decoration: underline;
}

.community-filter {
    position: relative;
    top: 40px;
}

.community-filter-tag {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4px;
    color: rgb(250, 250, 250);
    background-color: rgb(100, 145, 90);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(100, 200, 79);
    border-radius: 5px;
}

.community-filter-clear {
    display: inline-block;
}

.community {
    position: relative;
    width: 100%;
    margin-top: 55px;
}

.community-item {
    position: relative;
    display: inline-block;
    width: 80%;
    @media screen and (max-width: 452px) {
        width: 100%;
        left: -4px;
    }
    background-color: rgb(45, 45, 45);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.community-item-title {
    font-size: 2.0em;
    margin-top: 5px;
    margin-bottom: 10px;
}

.community-item-photo {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.community-item-description {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 12px;
    color: rgb(135, 135, 135);
}

.community-item-keywords {
    padding-top: 5px;
    padding-bottom: 10px;
}

.community-item-keywords-tag {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4px;
    background-color: rgb(59, 59, 59);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
}

.community-item-keywords-tag:hover {
    background-color: rgb(100, 100, 100);
}

.community-item-keywords-tag a {
    color: rgb(150, 150, 150);
}

.community-item-keywords-tag a:hover {
    color: rgb(150, 150, 150);
}

.page-screenshots {
    position: relative;
    margin-bottom: 20px;
}

.page-screenshot-item {
    position: relative;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.screenshot-desktop {
    width: 100%;
}

.screenshot-mobile {
    display: inline-block;
    width: 29%;
}

.themes {
    position: relative;
}

.theme {
    position: relative;
    display: inline-block;
    width: 305px;
    height: 214px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    @media screen and (max-width: 675px) {
        margin-bottom: 25px;
    }
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 0 4px 0 rgba(55, 55, 55, 0.95);
}

.theme:hover {
    box-shadow: 0 0 20px 0 rgba(55, 55, 55, 0.95);
}

.theme-info {
    position: absolute;
    z-index: 3;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.theme-info-title {
    display: inline-block;
    color: rgb(250, 250, 250);
    text-align: left;
    width: 85%;
}

.theme-info-download {
    display: inline-block;
    color: rgb(250, 250, 250);
    text-align: right;
    padding-right: 5px;
}

.theme-info-download i {
    color: rgb(12, 230, 139);
}

.theme-info-download i:hover {
    color: rgb(0, 255, 150);
}

.is-clickable {
    cursor: pointer;
}

.is-clickable img {
    box-shadow: 0 0 4px 0 rgba(55, 55, 55, 0.95);
}

.is-clickable img:hover {
    box-shadow: 0 0 20px 0 rgba(105, 165, 85, 0.95);
}

.button-stretched {
    height: 45px;
    padding-left: 100px;
    padding-right: 100px;
}

div.page-downloads {
    overflow-x: auto;
}

.page-downloads table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 35px;
}

.page-downloads thead, .page-downloads thead td {
    background-color: rgb(91, 103, 115);
    color: rgb(200, 200, 200) !important;
}

.page-downloads tbody {
    color: rgb(195, 195, 195);
    border: 1px solid #ccc;
}

.page-downloads tbody strong {
    color: rgb(195, 195, 195);
}

.page-downloads td {
    border: 1px solid #ccc !important;
    padding: 0.5em 0.75em;
}

.page-downloads tbody td {
    vertical-align: middle;
}

.is-centered {
    text-align: center;
}

.margin-fix {
    margin-top: 50px;
    @media screen and (min-width: 1089px) {
        margin-top: 120px;
    }
}

.margin-top-gap {
    margin-top: 45px;
}

.tutorials {
    position: relative;
    margin-top: 30px;
}

.tutorial-section {
    position: relative;
}

.tutorial-section h3 {
    color: rgb(150, 150, 150);
}

.tutorial-section-item {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.tutorial-section-item h4 {
    @media screen and (min-width: 768px) {
        display: none;
    }
    margin-bottom: 10px;
}

.tutorial-section-item iframe {
    @media screen and (min-width: 534px) {
        width: 385px;
        height: 263px;
    }
    @media screen and (max-width: 532px) {
        width: 100%;
    }
}

.faq {
    position: relative;
    width: 100%;
    margin-top: 55px;
}

.faq-item {
    position: relative;
    width: 100%;
    border: 1px solid rgb(67, 67, 67);
    border-radius: 4px;
    text-align: left;
    margin-bottom: 35px;
}

.faq-item strong {
    position: relative;
    display: block;
    color: rgb(200, 200, 200);
    background-color: rgb(59, 59, 59);
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.faq-item small {
    position: relative;
    display: block;
    padding: 20px;
}

.support {
    position: relative;
    margin-top: 50px;
}

.support label {
    color: rgb(150, 150, 150);
}

.support input, .support textarea {
    background-color: rgba(50, 50, 50, 0.5);
    color: rgb(150, 150, 150);
}

.support div.control {
    margin-bottom: 20px;
}

.demo-list {
    margin-bottom: 40px;
    text-align: center;
}

.demo-list h3 {
    font-size: 1.2em;
}

.demo-list ul {
    list-style: none;
}

.demo-list ul li::before {
    content: "\25CF";
    margin-left: 20px;
    font-weight: bold;
    display: inline-block; 
    width: 20px;
    color: rgb(150, 150, 150);
}

.demo-list table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 35px;
}

.demo-list thead, .demo-list thead td {
    background-color: rgb(91, 103, 115);
    color: rgb(200, 200, 200) !important;
}

.demo-list tbody {
    color: rgb(195, 195, 195);
    border: 1px solid #ccc;
}

.demo-list tbody strong {
    color: rgb(195, 195, 195);
}

.demo-list td {
    border: 1px solid #ccc !important;
    padding: 0.5em 0.75em;
}

.demo-list tbody td {
    vertical-align: middle;
}

.page-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
    @media screen and (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    background-color: rgb(55, 55, 55);
    color: rgb(120, 120, 120);
}

.page-footer a {
    color: rgb(150, 150, 150);
}

.page-footer a:hover {
    color: rgb(150, 150, 150);
    text-decoration: underline;
}

.page-footer span {
    margin-left: 10px;
}

.is-desktop-right {
    @media screen and (min-width: 768px) {
        text-align: right;
    }
}

.is-margin-bottom-10 {
    margin-bottom: 10px;
}

.newsletter {
    position: relative;
    margin-top: 45px;
}

.newsletter strong {
    color: rgb(200, 200, 200);
}

.newsletter div.field {
    margin-top: 20px;
}

.newsletter-prompt {
    width: 76%;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 768px) {
        width: 90%;
    }
}

.newsletter-prompt input {
    background-color: rgb(50, 50, 50);
    color: rgb(200, 200, 200);
}

.newsletter-prompt input::placeholder {
    color: rgb(150, 150, 150);
}

.sponsoring {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.sponsoring iframe {
    width: 150px;
    height: 32px;
}